<%- include('partials/global/head'); %>

<div class="op-plugin-app-container">
    <div class="opui-container ">
        <div class="opui-page-header opui-mb-5" id="banner">
            <div class="opui-row">
                <div class="opui-col-lg-8 opui-col-md-7 opui-col-sm-6">
                    <h1>OptimizePress</h1>
                    <p class="opui-lead">Basic OptimizePress plugin styles</p>
                </div>
            </div>
        </div>

        <%- include('partials/ui/top-menus.ejs'); %>

        <%- include('partials/ui/getting-started.ejs'); %>

        <%- include('partials/ui/empty-list.ejs'); %>


        <%- include('partials/ui/item-list.ejs'); %>

        <%- include('partials/ui/settings-2-col.ejs'); %>
    </div>
</div>

<%- include('partials/global/footer'); %>
